.dropbox
  align-items center
  background grayDark
  color grayLight
  display flex
  flex-flow column nowrap
  height 200px
  justify-content center
  position relative

  img
    height 90px

  p
    line-height 2rem
    margin 10px 0 0
    text-align center
    width 140px
