footerheight = 40px

footer
  align-items center
  background colHeader
  display flex
  flex-flow row nowrap
  height footerheight
  justify-content flex-end
  line-height footerheight
  padding 0 internalPadding

  btn(colHeader, white)
