headerHeight = 60px

header
  background rgb(71, 71, 71)
  color rgb(137, 137, 137)
  height headerHeight
  line-height headerHeight
  padding 0 internalPadding

  .logo
    height headerHeight

  label
    float right

    input
      margin-left 5px
