rowHeight = 40px

lang(col)
  .title
    background col
    btn(col, white)

  .row:not(.title) .extra .late
    color col
    btn(white, col)

.langs
  display flex
  flex-flow column nowrap

  .lang
    .row
      align-items center
      background white
      color grayDark
      display flex
      flex-flow row nowrap
      font-size 1.3rem
      height rowHeight
      justify-content space-between
      line-height rowHeight
      padding 0 internalPadding

      &:not(.title)
        border-bottom 2px solid rgb(239, 239, 239)

      .path
        color grayLight

      &.title
        color white

        button
          background white

        .status
          border-color white

      .extra
        align-items center
        color grayLighter
        display flex
        flex-flow row nowrap
        font-size 1.2rem
        letter-spacing 0.02em
        transition 1s

    & > *:last-child .row
      border-bottom none

    &.stylus
      lang(colStylus)

    &.jade
      lang(colJade)
