size = 14px
borderSize = 2px

.status
  border borderSize solid rgb(154, 154, 154)
  border-radius 50%
  display inline-block
  height size
  margin-left 5px
  transition 1s
  vertical-align middle
  width size

  .late &, &.late
    border-radius 0%
    transform rotate(-270deg)
