.swipe
  overflow hidden
  position relative

  .swipe-backing
    &::after
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 24px 24px;
      bottom 0
      padding-top 45px
      position absolute
      text-align center
      top 0

    &.swipe-remove
      background rgb(241, 241, 241)

      &::after
        background-image url(../images/bin.svg)
        color black
        content 'Remove'
        left 0
        opacity 0.8
        transform translateX(0%)
        transition linear 150ms

      &.confirmed
        background-color rgb(223, 223, 223)

        &::after
          left 100%
          transform translateX(-100%)
          opacity 1
