colHeader = rgb(71, 71, 71)

grayDark = #333333 // 51
grayLight = #9b9b9b // 155
grayLighter = #aeaeae // 174
grayLightest = #efefef // 239

colStylus = #f6634d
colJade = #fcb837

internalPadding = 15px

btn(textColour, bgColour)
  button
    background bgColour
    color textColour
  .status
    border-color bgColour
