@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,200")

header-height = 30px
square-dimension = 200px;

html
  height 100%

  body
    font-family 'Source Sans Pro', sans-serif
    height 100%
    margin 0

  *
    box-sizing border-box

header
  background #333
  color white
  height header-height

  h1
    font-size 1.3em
    line-height header-height
    margin 0
    text-align center

.langs
  align-items stretch
  display flex
  flex-wrap wrap
  height square-dimension
  list-style none
  margin 0
  padding 0

  .lang
    background-position 50% 50%
    background-repeat no-repeat
    background-size contain
    border 10px solid rgba(white, 0.15)
    color white
    padding 5px
    text-shadow 0 0 5px rgba(black, 0.5)
    transition 1s
    width 50%

    h2
      font-size 1.2em
      text-align center
      margin 0

    button
      background rgb(66 133 244)
      display block
      font-size 0.9em
      line-height 2.5
      margin 5px auto
      padding 0 20px

    &.compiling
      border-color blue

    &.done
      border-color green

    &.error
      border-color red

.stylus
  background url("./stylus.svg") rgb(255 99 71)

.jade
  background url("./jade.svg") rgb(86 154 131)
