@import 'style/vars.styl'
@import 'style/fonts.styl'

html
  font-size 62.7%

body
  font-family 'Karla', sans-serif
  font-size 1.4rem
  letter-spacing 0.05em
  margin 0
  user-select none

*
  box-sizing border-box

@import 'style/button.styl'
@import 'style/header.styl'
@import 'style/dropbox.styl'
@import 'style/langs.styl'
@import 'style/footer.styl'
@import 'style/status.styl'
@import 'style/switch.styl'
