doctype html

html

  head

    title Metamorphe
    link(rel="stylesheet" type="text/css" href="./style.css")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")

  body
  
    // Add content here
