doctype html
html(ng-app="Stylay")
  head
    meta(charset="utf-8")
    title Stylay
  body
    div(ui-view="stylus")
    div(ui-view="jade")
    
    script(src="js/vendor.js")
    script(src="js/stylay.js")
    script(src="js/views.js")
