doctype html
html(ng-app="stylay")
  head
    meta(charset="utf-8")
    title Stylay
  body(ng-controller="homeController")
    input(type="file" file-model="file")
    button(ng-click="compile()") Compile
    
    script(src="js/vendor.js")
    script(src="js/stylay.js")
